#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

p span.selection {
  /* color: #f00; */
  background-color: lightblue;
}

/* .MuiBox-root {
  padding: 0;
} */
